<div>

<form role="form" name="registrationFrom" class="form-horizontal">
<fieldset>
<legend>Basic Information</legend>

	<div class="form-group">
		<label for="InputUserName" class="col-sm-2 control-label">User Id</label>
		<div class="col-sm-6">		
		<input class="form-control" type="text" placeholder="Enter Name" id="InputLoginId" required ng-model="user.userId"><button ng-click="checkUserId(user.userId)">Check availability</button> <span style="color:red;" ng-if="userIdExist">{{userIdCheckMessage}}</span><span style="color:green;" ng-if="!userIdExist">{{userIdCheckMessage	}}</span>
		</div>
	</div>
	<div class="form-group">
		<label for="InputPassword" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-6">	
		<input class="form-control" type="password" placeholder="Enter password" id="inputPassword"  required ng-model="user.password"  >
	</div>
	</div>

	<div class="form-group">
		<label for="InputEmailId" class="col-sm-2 control-label">Email Id</label>
		<div class="col-sm-6">	
		<input class="form-control" type="email" placeholder="abc@xyz.com" id="InputEmailId" required ng-model="user.emailId" >
		</div>
	</div>
</fieldset>
<fieldset>
<legend>Address</legend>
	<div class="form-group">
		<label for="InputHouseNo" class="col-sm-2 control-label">House No</label>
		<div class="col-sm-6">	
		<input class="form-control" type="number" placeholder="It must be number" id="InputHouseNo" required ng-pattern="/^[0-9]+/" ng-model="user.address.houseNo" >
		</div>	
	</div>
	<div class="form-group">
		<label for="InputStreet" class="col-sm-2 control-label">Street</label>
		<div class="col-sm-6">	
		<input class="form-control" type="text" placeholder="Enter Street" id="InputStreet" required ng-model="user.address.street" >
		</div>
	</div>
	<div class="form-group">
		<label for="InputCity" class="col-sm-2 control-label">City</label>
		<div class="col-sm-6">	
		<input class="form-control" type="text" placeholder="Enter City" id="InputCity" required ng-model="user.address.city" >
		</div>
	</div>
	<div class="form-group">
		<label for="InputState" class="col-sm-2 control-label">State</label>
		<div class="col-sm-6">	
		 <select class="form-control" id="InputState" ng-model="user.address.stateId" ng-options="obj.stateId as obj.stateName for obj in states" ><option value="">States</option></select>
		 </div>
	</div>
	<div class="form-group">
		<label for="InputCountry" class="col-sm-2 control-label">Country</label>
		<div class="col-sm-6">	
		<input class="form-control" type="text" placeholder="Enter Country" id="InputCountry" required ng-model="user.address.country"  >
		</div>
	</div>
	</fieldset>
	<div class="form-group">
	<button class="btn btn-primary col-sm-offset-3" type="submit" ng-click="createUser(user)" ng-disabled="registrationFrom.$invalid ">Submit</button>	
	<button class="btn btn-default" type="button" ng-click="clearUser(user)" >Clear</button>
	</div>

	
	<span style="color:red">{{message}}</span>
	</form>
	
	
</div>