<div>
<div ng-if="isLogged()"><a href="" ng-click="logout()">Logout</a></div>
<div ng-if="!isLogged()"><a href="/petstore/#/login">Login</a></div>
<div ng-if="isLogged()"><a href="/petstore/#/cart">Checkout</a></div>
<div ng-if="isLogged()"><a href="/petstore/#/order">My Orders</a></div>
<div>
	<ul>
		<li ng-repeat="x in productCats"><a ng-click="onClickTab(x.productCatId)">{{x.productCatName}}</a>
	</ul>
</div>
<div ng-if="productsExists">
<h2>Search</h2><input type="text" ng-model="searchKey"/>
<table>
<tr><th>Image</th><th>Name</th><th>Description</th><th>Price</th><th>Quantity</th><th>Action</th></tr>
<tr ng-repeat="x in products | filter : searchKey">
<td><img  id="img{{$index}}" src="resources/images/{{x.sku}}.jpg" height="150" width="120" style="margin-left: 122px; margin-bottom:20px"/></td>

<td>{{x.productName}}</td><td>{{x.productDesc}}</td><td>{{x.productPrice}}</td><td><button decrease-quantity val="x.quantity">-</button><input type="text" ng-model="x.quantity" size="1" disabled/><button increase-quantity val="x.quantity">+</button></td><td><button ng-click="addToCart(x)">Add to Cart</button></td>
</tr>
</table>
</div>
{{errorMessage}}
</div>